<%= link_to sanitize("&larr; Back to quotes"), root_path %>

<h1 class="text-3xl font-bold underline">New ticket</h1>

<%= turbo_frame_tag @ticket do %>

  <% if current_user.tickets.pending.empty? %>
    <%= render "form", ticket: @ticket %>
  <% else %>
    <p class="text-red-700">You already have a pending ticket.</p>
  <% end %>

<% end %>
