<div class="flex w-2/3 justify-between mb-5">
  <h1 class="text-3xl font-bold underline">Change your homework</h1>
</div>

<% if current_user.has_a_homework? && !current_user.is_graded? %>
  <div class="w-2/3">
    <div class="add-ticket my-5 bg-emerald-100 rounded p-3 text-emerald-500 text-xl font-bold">
      It looks like you already posted your homework, you can edit this one if you want to change something !
    </div>
  </div>
<% end %>



<div class="tickets w-2/3">
  <% if @homework.teacher_graded_this_student_already? %>
    <div class="add-ticket my-5 bg-red-100 rounded p-3 text-red-500 text-xl font-bold">
      You can't post your homework anymore, the deadline is over !
    </div>
  <% else %>
    <div class="add-ticket my-5 bg-purple-100 rounded p-3 text-purple-900">
      <h3 class="text-xl">You can simply copy paste in this form the title and url of your webpage</h3>
      <p class="text-m italic mb-2">the url should be a github pages link</p>
      <%= render 'form', homework: @homework %>
    </div>
  <% end %>
</div>
